[Unit]
Description=Runs rclone backup Every 1 hour
Requires=home-backup.service
After=network-online.target
Wants=network-online.target

[Timer]
OnBootSec=1hour
Unit=home-backup.service
OnUnitActiveSec=1h

[Install]
WantedBy=timers.target
