[Unit]
Description=Emudeck SaveBackup service

[Service]
Type=simple
ExecStart="/home/gamer/Emulation/tools/rclone/run_rclone_job.sh"
CPUWeight=20
CPUQuota=50%
IOWeight=20

[Install]
WantedBy=default.target
