[Unit]
Description=rclone home backup service

[Service]
Type=simple
ExecStart="%h/.config/home-backup/backup-manager.sh --backup"
CPUWeight=20
CPUQuota=50%
IOWeight=20

[Install]
WantedBy=default.target
