[Unit]
Description=rclone home backup service

[Service]
Type=simple
Environment="SCRIPT_ARGS=--backup"
ExecStart=%h/.config/home-backup/backup-manager.sh $SCRIPT_ARGS
CPUWeight=20
CPUQuota=50%
IOWeight=20

[Install]
WantedBy=default.target
